.button {
  height: 25px;
  width: 70px;
  background-color: #5584ff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  border-radius: 35px;
  font-weight: 500;
  text-decoration: none;
  font-size: 8pt;
  letter-spacing: 0.3pt;
  margin-bottom: 10px;
}

.button:hover {
  background-color: blueviolet;
  cursor: pointer;
}

.buttonFunction {
  width: 40px;
  height: 30px;
  margin-top: 10px;
  background-image: url('../assets/images/main/main/func.svg');
  padding-top: 5px;
}

.buttonFunction:hover {
  cursor: pointer;
}
