.App {
  font-family: sans-serif;
  text-align: center;
}

.modal {
  font-size: 12px;
  color: black;
}

.input {
  margin-bottom: 1rem;
}

.header {
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.content {
  padding: 10px 5px;
}

.conten1t {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.xxx {
  width: 100%;
}

.popup-content {
  width: 40%;
}

.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.content {
  display: flex;
  flex-direction: column;
}
