.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  color: rgb(0, 0, 0);
  margin-top: 40px;
}

.task_stats {
  display: flex;
  flex-direction: row;
}

.taskss {
  display: flex;
  flex-direction: column;
}

label {
  margin-right: 1rem;
}

.task {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  border-bottom: 1px solid gray;
}

.task:first-child {
  border-bottom: 0px solid gray;
}

.task2 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.task_title {
  width: 20%;
}

.toDo_container,
.inProgress_container,
.completed_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.count_task {
  color: rgb(132, 146, 175);
}
